# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
/frontend/.env*
backend/.env*
# local env files
.env.local
.env.development.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Client
node_modules
.next
out

# Server
node_modules
dist
build
server/node_modules

# Common
.env
package-lock.json
yarn.lock
