# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
client/.env*
server/.env*
# local env files
.env.local
.env.development.local

# vercel
/client/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Client
client/node_modules
client/.next
client/out

# Server
server/node_modules

# Common
.env
package-lock.json
yarn.lock
